*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

/* begin header */
#header-home{
    background-color:#227487 ;
    font-size: 16px;
    padding: 18px 16px;
}

#header-home .language{
    background-color:#227487;
    border: 1px solid #227487;
    color: #fff;
    cursor: pointer;
}
#header-home .language:hover{
    border: 1px solid aqua;
}
#header-home .language-choose:hover .language-info{
    display: block;
}
#header-home .language-info{
    list-style-type: none;
    position: absolute;
    margin-left: -2px;
    background-color: #fff;
    border: 2px solid #ccc;
    display: none;
    border-radius: 4px;
}
#header-home .language-content{
    padding: 0 62px;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
}
.language-content .language-choose{
    display: inline-block;
}
#header-home .language-info li:hover a{
    background-color: #ccc;
    color: #227487;
}
#header-home .language-info li a{
    text-decoration: none;
    display: block;
    color: black;
    text-align: left;
    padding-right: 54px;
    padding-left:  12px;
    padding-top: 8px;
    margin-bottom: 6px;
}
.ticket-language{
    font-size: 12px;
}
/* End Header */

/* Begin content Hompage */
.homepage-logo{
    margin-left: 260px;
}
.content-logo{
    margin-top: 32px;
    margin-bottom: 48px;
    margin-left: 40%;
}
.content-discription{
    max-width: 90%;
    margin: 0 14%;
    position: relative;
}
.text-content{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 216px;
    font-size: 20px;
    color: #fff;
}
.content-discription h1{
    /* text-shadow: 4px 3px 3px #0006; */
    padding-bottom: 24px;
}
.content-img{
    width: 100%;
    border-radius: 12px;
}

.content-location {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content-location .content-sub-location{
    background-color: #227487;
    display: inline-block;
    font-size: 20px;
    padding: 13px 16px;
    width: 200px;
    margin: 34px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.content-location .content-sub-location:hover{
    color: #000;
    cursor: pointer;
}
.content-body .content-contact{
    font-size: 16px;
    text-align: center;
}
/* End content Hompage */

/* Begin footer Hompage */
#footer-hompage{
    background-color: #000;
    margin-top: 100px;
    padding-top: 45px;
    padding-bottom: 20px;
}
#footer-hompage .footer-container{
    margin: 0 12%;
}
.restaurant-address{
    display: table-cell;
    color: #fff;
    padding: 0 15px;
    text-align: center;
    line-height: 24px;
}
.restaurant-address .res-name{
    font-size: 16px;
    margin: 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.restaurant-address .res-address{
    font-size: 15px;
    color: #ccc;
    opacity: 0.4;
}
.footer-container .coppyRight{
    color: #ccc;
    font-size: 15px;
    margin-top: 50px;
    border-top: 2px solid #ccc;
    opacity: 0.4;
}
.coppyRight p{
    margin: 50px 0;
    text-align: center;
    opacity: 0.6;
}
/* End footer Homepage */

/* Main of page */
.header {
    background-color: #000;
}

.header__text {
    color: #fff;
    margin: 0;
    height: 40px;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 20px;
    padding-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    max-width: 100%;
}

.navbar .navbar__logo {
    height: 150px;   
    flex-direction: row;
}

.navbar__search {
    width: 500px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 7px 0 rgb(221 225 236 / 40%), 0 2px 4px 0 #dde1ec;
    height: 60px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__icon {
    width: 10%;
    text-align: center;
    font-size: 2rem;
    color: #000;
    display: block;
    padding-top: 19px;
}

.search__input {
    width: 70%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
}

.search__btn {
    width: 20%;
}

.navbar__signin {
    width: 100px;
    box-shadow: 0 5px 7px 0 rgb(221 225 236 / 40%), 0 2px 4px 0 #dde1ec;
    background-color: #fff;
}

.navbar__signin:hover .signin__text{
    color: #227487;
}

.signin__text {
    line-height: 56px;
    color: #000;
}

.navbar__cart {
    width: 100px;
    box-shadow: 0 5px 7px 0 rgb(221 225 236 / 40%), 0 2px 4px 0 #dde1ec;
    background-color: #fff;
}

.cart__text {
    text-decoration: none;
    line-height: 56px;
    color: #000;
}

/*Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    margin: auto;
    position: relative;
    z-index: 1;
}

/* Cart */

.cart {
    position: fixed;
    height: 100%;
    width: 350px;
    right: 0;
    top: 0;
    background-color: #fff;
   /* padding: 12px 20px;*/
    z-index: 10000;
}

.cart__close {
    font-size: 12px;
    top: 30px;
    left: unset;
    right: 20px;
    display: flex;
    position: absolute;
    cursor: pointer;
    color: #7b7b7b;
}

.cart-title {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f4f4f4;
    text-align: left;
    width: 100%;
}

.text-center {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    text-align: left;
    margin-top: 0;
    line-height: 24px;
    font-weight: 700;
}

.cart__no-item {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    font-family: "PulpDisplay Regular",sans-serif;
}



.navbar__cart-icon {
    width: 10%;
    height: 56px;
    color: #000;
}

.content__category {

}

.catefory-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px;
}

.category-item {
    font-size: 2rem;
    list-style: none;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.category__aside-list {
    display: flex;
    justify-content: space-evenly;
    margin: 32px 50px;
}

.category__aside-item {
    font-size: 1.6rem;
    list-style: none;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

/* begin login page */

.form-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
}

.form-wrapper h1 {
    font-size: 3.3rem;
    margin-bottom: 4rem;
}

.form-wrapper input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #f8f8fa;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

input:focus {
    outline: none;
}

input:active {
    color:#000
}

.forgot-create {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.forgot-create a {
    text-decoration: none;
    color: #c8c7c8;
    font-weight: 500;
    font-size: 1.3rem;
}

.forgot-create a:hover {
    color: #000;
}

.forgot-password a {
    text-align: left;
}

.create-account a {
    text-align: right;
}

.submit-btn {
    margin-top: 5rem;
    background-color: #227487;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    border: 0.8px solid #227487;
    border-radius: 5px;
    min-width: 230px;
    height: 56px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #fff;
    color: #227487;
}

.login-footer {
    background-color: #000;
    margin-top: 110px;
    padding-top: 60px;
    text-align: center;
}

.login-footer .login-footer-container {
    margin: 0 15%;
}

.social-container {
    background-color: #fff;
    height: 8rem;
}

.social-container h2 {
    font-size: 3rem;
    /* float: left; */
    padding: 1.5rem;
}

.footer-information {
    display: table-cell;
    width: 33.33%;
    color: #fff;
    padding: 60px 15px 30px;
    line-height: 24px;
}

/* .footer-information:first-child {
    margin-left: auto;
}

.footer-information:last-child {
    margin-right: auto;
} */

.footer-information h3 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.footer-information p {
    font-size: 1.4rem;
}

.footer-information ul {
    list-style-type: none;
}

.footer-information a {
    text-decoration: none;
    color: #959494;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-information a:hover {
    color: #fff;
}

.copyright {
    padding: 15px 0;
}

.copyright a {
    text-decoration: none;
    color: #959494;
    font-size: 1.4rem;
    font-weight: 400;
}

.copyright a:hover {
    color: #fff;
}
/* end login page */